{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W3 Schools login page</title>
    <link rel="stylesheet" href="{% static 'learner_register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
<body id="body">
    <div class="container" style="max-width: 430px;width: 100%;"> 
      <div class="form login">
        {% if error %}
        <h3 style="color: red;text-decoration: underline;" >{{error}}</h3>
        {% endif %}
        <span class="title">Register</span>
        <form action="{% url 'register_learner' %}"  onsubmit="return checkPassword(this)" method="post">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" placeholder="Enter your username" name="username" id="input" required>
                <i class="fa-solid fa-user icon"></i>
            </div>
          <div class="input-field">
            <input type="text" placeholder="Enter your first name" name="firstname" id="input" required>
            <i class="fa-solid fa-user icon"></i>
          </div>

          <div class="input-field">
            <input type="text" placeholder="Enter your last name"  name="lastname" id="input" required>
            <i class="fa-solid fa-user icon"></i>
          </div>

          <div class="input-field">
            <input type="email" placeholder="Enter your email" name="email" required>
            <i class="fa-regular fa-envelope icon"></i>
          </div>

          <div class="input-field">
            <input type="password" placeholder="Create a password" name="password">
            <i class="fa-solid fa-lock icon"></i>
          </div>
          
          <div class="input-field">
            <input type="password" placeholder="Confirm password" name="con_password">
            <i class="fa-solid fa-lock icon"></i>
          </div>

          <div class="checkbox-text">
            <div class="checkbox-content">
              <input type="checkbox" id="check">
              <label for="check" class="text">I accept terms & conditions</label>
            </div>
          </div>

          <div class="input-field button">
            <input type="submit" name="" id="" value="Register now" required >
          </div>

        </form>
        <div class="login-signup">
          <span>Already have an account?
          <a class="text signup-text" href="{% url 'learner_login' %}">Login now</a></span>
        </div>

      </div>
  </div>
  <script src="{% static 'lregister.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>   
</body>
</html>