{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W3 Schools login page</title>
    <link rel="stylesheet" href="{% static 'learner_login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
<body id="body">
    <div class="container" style="max-width: 430px;width: 100%;"> 
      <div class="form login">
        <span class="title">Login</span>
        <form action="{% url 'learner_login' %}" onsubmit="return validate()" method="post">
            {% csrf_token %}

          <div class="input-field">
            <input type="text" id="email" placeholder="Enter your username" name='username' required>
            <i class="fa-regular fa-envelope icon"></i>
          </div>

          <div class="input-field">
            <input type="password" placeholder="Enter your password" name="password" required>
            <i class="fa-solid fa-lock icon"></i>
          </div>

          <div class="checkbox-text">
            <div class="checkbox-content">
              <input type="checkbox" id="check" required>
              <label for="check" class="text">Remember me</label>
            </div>
            <a href="" class="text">forget password?</a>
          </div>

          <div class="input-field button">
            <input type="submit"  name="" id="" value="Login Now" required >
          </div>

        </form>
        <div class="login-signup">
          <span>Not a member?
          <a class="text signup-text" href="{% url 'register_learner' %}">Register Now</a></span>
        </div>

      </div>
  </div>


  <script src="w3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>   
</body>
</html>