{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body{
        position: fixed;
        background-color: lightblue;
        background-image: url("{% static 'ezlogo.jpeg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:contain;
    }
    .container {
        margin-left:50vw ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .portion {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      width: calc(50% - 20px);
      margin-bottom: 20px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color:black;
      background-color: white;
    }
    .button {
      display: block;
      width: 50%;
      padding: 12px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background-color: #187bcd;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    h2 {
      margin-top: 0;
      color: #187bcd;
    }

    /* Responsive layout */
    @media (max-width: 768px) {
      .portion {
        width: 100%;
      }
    }
  </style>
</head>
<body style="height: 100vh;width: 100vw;margin-left:7vw;display: flex;justify-content: center;flex-direction: column;padding: 30px;">
    <h1 style="color: blue;margin-left: 50vw;">Welcome To Ez_Learn : </h1>
    <div class="container">
    <div class="portion">
      <h2>Register as learner</h2>
      <a class="button" href="{% url 'register_learner' %}">Click Here</a>
    </div>
    <div class="portion">
        <h2>Login as Learner</h2>
        <a class="button" href="{% url 'learner_login' %}">Click Here</a>
      </div>
    <div class="portion">
      <h2>Login as Devepoer</h2>
      <a class="button" href="{% url 'developer_login' %}">Click Here</a>
    </div>
    <div class="portion">
      <h2>Register as Developer</h2>
      <a class="button" href="{% url 'register_developer' %}">Click Here</a>
    </div>
  </div>
</body>
</html>
