{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'otp.css' %}">
</head>
<body>
    <div class="container">
        <h2>Enter OTP</h2>
        <form action="{% url 'validate_lregistration' %}"  method="post">
            {% csrf_token %}
           {% if error_message %}
                <p>{{error_message}}</p>
            {% endif %}
          <div class="form-group">
            
            <input type="text" id="otp" name="otp" placeholder="Enter OTP" required>
          </div>
          <div class="form-group">
            <button type="submit">Submit</button>
          </div>
        </form>
    </div>
</body>
</html>