{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Personal Information Form</title>
  <link rel="stylesheet" href="{% static 'personal.css' %}">
</head>
<body>
  <div style="display: flex; flex-direction: row; height:100vh; position: fixed;margin-top: 0;">
    <div>
      <img style="height: 100%;" src="{% static 'Rectangle.png' %}" alt="no image found">
    </div>
  <div class="container" style="margin-top: 0px;position:fixed;top:3vh; right: 10vw;height:fit-content;">
    <h2>Personal Information</h2><br>
    <form action="{% url 'complete_profile' learner.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_div }}
        <br>
        <input type="date" id="house-no" name="dob" placeholder="Date of Birth" required>
        <br><br>
        <input type="text" id="house-no" name="phone_no" placeholder="Phone No" required>
        <br><br>
        <label for="address">Address:</label>
        <input type="text" id="house-no" name="house_no" placeholder="House No" required>
        <br><br>
        <input type="text" id="street" name="street" placeholder="Street" required>
        <br><br>
        <input type="text" id="city" name="city" placeholder="City" required>
        <br><br>
        <input type="text" id="state" name="state" placeholder="State" required>
        <br><br>
        <input type="text" id="country" name="country" placeholder="Country" required>
        <br><br>
        <input type="text" id="pincode" name="pincode" placeholder="Pincode" required>
        <br>
      </div> 
      <div class="form-group">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
  </div>
</body>
</html>



