{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'takequiz.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Document</title>
    <style>
      .button {
    display: block;
    width: 115px;
    height: 45px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
#h1 {
      text-align: center;
      margin-bottom: 20px;  
    }
    
    .score {
      font-size: 24px;
      text-align: center;
      margin-top: 30px;
    }
    
    .correct {
      color: green;
      font-weight: bold;
    }
    
    .incorrect {
      color: red;
      font-weight: bold;
    }
    </style>
</head>
<body>
  <header >
    <div class="nav">      
      <div class="logo">
        <img src="maldives-island.jpg" alt="Logo">
      </div>
      <div class="profile">
        <h3 class="name">{{learner.username}}</h3>
        <a href=""><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
      </div>
    </div>
  </header>
  <div class="container" style="margin-top: 100px;">
    <h1 id="h1">Quiz Results</h1>
    
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="score">
          <p>Total : <span class="correct">{{score}}</span></p>
          <a class='button' href="{% url 'home' learner.id %}">HOME</a>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 100px;margin-top: 100px;margin-left: 30px;">
    {% for result in results %}
      <h5>{{ result.question_number }} . {{ result.question_text }}</h5>
      <div style="margin-left: 15px;">
      {% for option in result.options %}
        <p>{{ option }}</p>
      {% endfor %}

      {% if result.submitted_answer == result.correct_answer %}
        <h6 style="color: green;">&nbsp;&nbsp;Your answer: &nbsp;{{ result.submitted_answer }}</h6>
      {% else %}
        <h6 style="color:red;">&nbsp;&nbsp;Your answer: &nbsp;{{ result.submitted_answer }}</h6>
      {% endif %}
      <h6 style="color: green;">&nbsp;&nbsp;Correct answer:  &nbsp;{{ result.correct_answer }}</h6>
    </div>
    {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>