<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- quiz/templates/quiz/past_submissions.html -->
<h1>Past Quiz Submissions</h1>

{% if submissions %}
  <ul>
    {% for submission in submissions %}
      <li>
        <strong>Quiz Title:</strong> {{ submission.quiz.title }}<br>
        <strong>Score:</strong> {{ submission.score }}<br>
        <strong>Submission Date:</strong> {{ submission.date_submitted }}<br>
        <strong>Details:</strong>
        <ul>
          {% with selected_choices=submission.selected_choices|dictsort %}
            {% for question_id, selected_choice_id in selected_choices %}
              {% with question_info=submission.questions|get_item:question_id %}
                <li>
                  <strong>Question:</strong> {{ question_info.question_text }}<br>
                  <strong>Selected Answer:</strong> {% if selected_choice_id %}{{ question_info.options|get_item:selected_choice_id }}{% else %}Not answered{% endif %}<br>
                  <strong>Correct Answer:</strong> {{ question_info.correct_choice_text }}
                </li>
              {% endwith %}
            {% endfor %}
          {% endwith %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No past quiz submissions.</p>
{% endif %}
</body>
</html>