{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'takequiz.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>

<h1>{{ quiz.title }}</h1>
<header>
    <div class="nav">      
      <div class="logo">
        <img src="maldives-island.jpg" alt="Logo">
      </div>
      <div class="profile">
        <h3 class="name">{{learner.username}}</h3>
        <a href=""><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
      </div>
    </div>
</header>
<div id="questions">
  <p style="position: fixed;top: 120px;right: 20px;" id="timer">Time left: --:--</p>
<form id="quiz-form" action="{% url 'take_quiz' quiz.title learner.id %}" method="post">
    {% csrf_token %}
    {% for question in questions %}
        <h5>{{question.question_number}} . {{ question.question }}</h5>
        {% for choice in question.choice_set.all %}
            <input type="radio" name="{{ question.id }}" value="{{ choice.id }}"> {{ choice.choice }}<br>
        {% endfor %}
        <br>
    {% endfor %}
    <button type="submit">Submit Quiz</button>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script>
  // Function to submit the quiz automatically
  function submitQuiz() {
    document.getElementById('quiz-form').submit();
  }

  // Timer logic
  function startTimer(duration, display) {
    var timer = duration;
    var minutes, seconds;

    setInterval(function () {
      minutes = parseInt(timer / 60, 10);
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = "Time left: " + minutes + ":" + seconds;

      if (--timer < 0) {
        submitQuiz();
      }
    }, 1000);
  }

  window.onload = function () {
    var quizDuration = 1200; // 20 minutes in seconds (20 * 60)
    var display = document.getElementById('timer');
    startTimer(quizDuration, display);
  };
</script>
</body>
</html>