{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .cards_area {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          gap: 20px;
          padding: 20px;
        }
    
        .card {
          border: 1px solid #ccc;
          border-radius: 8px;
          padding: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          background-color: lightblue;
          
        }
    
        .card h2 {
          color: #333;
        }
    
        .card p {
          color: #777;
        }
      </style>
    </head>
    
<body>
    <header>
        <div class="nav">
          
          <div class="logo">
            <img src="{% static 'ezlogo.jpeg' %}" alt="Logo">
          </div>
          <div class="profile">
            <h6 class="name" ><a style="color: aliceblue;" href="{% url 'd_logout'%}">logout</a></h6>
            <h3 class="name">{{developer.developer_name}}</h3>
          </div>
        </div>
      </header>
      <div style="padding-top: 120px;">
      <h1 style="color: blue;">Courses List</h1>
    <div class="cards_area" style="padding-top: 20px;">
        {% for course in courses %}
      <div class="card">
        <h2>{{course.name}}</h2>
        <p><span style="font-weight: bolder;font-size: large;">Course Description : </span>&nbsp;{{course.description}}</p>
        <p><span style="font-weight: bolder;font-size: large;">Course Price : </span>&nbsp;Rs {{course.price}}</p>
        <p><span style="font-weight: bolder;font-size: large;">Course Discount : </span>&nbsp;{{course.discount}}</p>
        <a href="{% url 'delete_course' course.id developer.id %}">DELETE COURSE</a>
      </div>
      {% endfor %}
    </div>
    <a href="{% url 'add_course' developer.id %}"><h4 style="color:whitesmoke;margin-left: 100px;background-color:blue;width: fit-content;padding: 10px;border-radius: 20px;">Add Course</h4></a>
</div>
<a href="{% url 'developer_home' developer.id %}"><h4 style="color:whitesmoke;margin-left: 100px;background-color:blue;width: fit-content;padding: 10px;border-radius: 20px;">Back</h4></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>