{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'home2.css' %}">
    <link rel="stylesheet" href="{% static 'foot1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 
    <style>
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            margin: 20px 0px;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 90vw;
            padding: 20px;
            background-color: #e8f1f7;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        }

        .portion {
            flex: 1;
            margin-bottom: 10px;
            padding: 20px;
            text-align: center;
            background-color: #336699;
            color: #ffffff;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease;
        }

        .portion:not(:last-child) {
            margin-right: 10px;
        }

        .portion:hover {
            transform: scale(1.05);
        }

        .portion:nth-child(1) {
            background-color: #0058a3;
        }

        .portion:nth-child(2) {
            background-color: #007acc;
        }

        .portion:nth-child(3) {
            background-color: #0097e6;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                align-items: center;
            }

            .portion {
                margin-right: 0;
                width: 100%;
            }

        }
    </style>
</head>
<body>
    <header>
        <div class="nav">
          
          <div class="logo">
            <img src="{% static 'ezlogo.jpeg' %}" alt="Logo">
          </div>
          <div class="profile">
            <h6 class="name" ><a style="color: aliceblue;" href="{% url 'd_logout'%}">logout</a></h6>
            <h3 class="name">{{developer.developer_name}}</h3>
          </div>
        </div>
      </header>
      <div class="container-fluid" id="middle">
        <div>
          <span><h1 id="header1" >Learn coding with</h1></span>
        </div>
        <img id='middleimg'src="{% static 'helper.png' %}" alt="">
      </div>
    <div class="main">
        <div class="container">
            <div class="portion"><a style="color:white" href="{% url 'learners_list' developer.id %}">Learners List</a></div>
            <div class="portion"><a style="color:white" href="{% url 'courses_list' developer.id %}">Courses List</a></div>
            <div class="portion"><a style="color:white" href="{% url 'quiz_list' developer.id %}">Quizzes List</a></div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        <p>EZ-Learn is optimized for learning and training. Examples might be simplified to improve reading and learning.
        Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>
