*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color:blue;
  position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height :100px;
    width: 100vw;
  }

  .profile{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  
  
  .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #8dadd6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  .profile .name {
    margin-top: 15px;
    font-weight: bold;
    padding-right: 20px;
    color: white;
    
  }
  
  .logo img {
    margin-left: 10px;
    width: 100px;
    height: 40px;
  }
  

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

/* #middle{
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color:blue;
  flex-direction: row;
  background: linear-gradient(to bottom, blue 49%,white 51%);
}

#middleimg{
  
  display: flex;
  align-items: end;
  margin-right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}
#middle h1{
  display: flex;
  margin-top: 15vh;
  font-size:10vh;
  font-weight: 10vh;
  color: rgb(224, 215, 250);
}

#middle h5{

  font-weight:700;
  color: lightpink;
  margin-top:4.5vh;
  width:450px;
}
#middle form{
  margin-top:4.5vh;
} */

