
.quiz_list{

    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    width: 60vw;
    background-color: aqua;
    justify-content: space-between;
    padding:0px 70px;
    height: 30px;
     } 
     
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.nav {
background-color: blue;
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
height :100px;
width: 100vw;
}

.profile{
margin-right: 10px;
display: flex;
flex-direction: row;

}

.profile img {
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 10px;

}

.profile .name {
margin-top: 15px;
font-weight: bold;
padding-right: 20px;
color: white;

}

.logo img {
margin-left: 10px;
width: 100px;
height: 40px;
}


#quiz-container {
         max-width: 600px;
         background-color: #fff;
         border-radius: 10px;
         box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
         padding: 20px;
         text-align: center;
     }

     h2 {
         color: #333;
         margin-bottom: 20px;
     }

     ol {
         text-align: left;
         margin-left: 20px;
         margin-bottom: 30px;
     }

     #btn {
         background-color: #4CAF50;
         color: #fff;
         border: none;
         padding: 10px 20px;
         font-size: 16px;
         border-radius: 5px;
         cursor: pointer;
         transition: background-color 0.2s ease;
     }

     #btn:hover {
         background-color: #45a049;
     }