{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'buying_course.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="nav">  
        <div class="logo">
          <img src="maldives-island.jpg" alt="Logo">
        </div>
        <div class="profile">
          <h3 class="name">{{learnt.learner.username}}</h3>
          <a href=""><img src="{{learnt.learner.profile_picture.url}}" alt="Profile Photo"></a>
        </div>
      </div>
    </header>
    <div class="main-container">
        <div class="photo-container">
          <img src="{% static 'html.png' %}" alt="Profile Photo">
        </div>
        <div class="content-container">
          <h2>{{learnt.course_learning.name }} Course Pro Membership</h2>
          <h3>Rs {{learnt.course_learning.price}}</h3>
          <h5>Prove your skills by getting HTML Certfication</h5>
          <form action="{% url 'making_payment' learnt.id %}" method="post">
            {% csrf_token %}
            <input id='submit' type="submit" value="BUY COURSE">
          </form>
        </div>
      </div>
       
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{learnt.course_learning.name }}</p>
    <form action="{% url 'making_payment' learnt.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value = 'buy course'>
    </form>
</body>
</html> -->