{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">  
	<link rel="stylesheet" href="{% static 'profile.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <style>
      #table {
        border-collapse: collapse;
        width: 100%;
      }
  
      #table th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
  
      #table th {
        background-color: #f2f2f2;
      }
  
      #table tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
</head>
<body>
    <header>
        <div class="nav">
          <div class="logo">
            <img src="maldives-island.jpg" alt="Logo">
          </div>
          <div class="profile">
            <h6 class="name" ><a style="color: aliceblue;" href="{% url 'logout'%}">logout</a></h6>
            <h3 class="name">{{learner.username}}</h3>
            <a href=""><img src="{{learner.profile_picture.url}}" alt="image not Found"></a>
          </div>
        </div>
      </header>
<section>     
<!-- Student Profile -->
<div style="padding-top: 100px;">
<div class="student-profile py-4">
  <div class="container" style="background: -webkit-linear-gradient(to right, #4ca2cd, #b1bcd8);background: linear-gradient(to right, #4ca2cd, #b4caeb);">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="{{learner.profile_picture.url}}" src="" alt="student dp">
            <h3>{{learner.username}}</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Student Name:</strong>{{learner.first_name}}&nbsp;{{learner.last_name}}</p>
            <p class="mb-0"><strong class="pr-1">Email:</strong>{{learner.email}}</p>
            <p class="mb-0"><strong class="pr-1">Ph No:</strong>{{Learner.ph_number}}</p>
            <p>{{learner.ph_number}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Date of Birth</th>
                <td width="2%">:</td>
                <td>{{learner.DOB}}</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>{{leaner.gender}}</td>
              </tr>
              <tr>
                <th width="30%">Address</th>
                <td width="2%">:</td>
                <td>{{learner.dno}}, {{learner.street}}</td>
              </tr>
              <tr>
                <th width="30%">City</th>
                <td width="2%">:</td>
                <td>{{learner.city}}</td>
              </tr>
              <tr>
                <th width="30%">PIN</th>
                <td width="2%">:</td>
                <td>{{learner.pincode}}</td>
              </tr>
              
              
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <table id="table">
            <thead>
              <tr>
                <th>Course</th>
                <th>Highest Score</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mathematics</td>
                <td>98</td>
                <td>Pass</td>
              </tr>
            </tbody>
          </table>
        
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
	</body>
</html>